/*see https://css-tricks.com/perfect-full-page-background-image/*/
html {
    background: url("DJI_0380.MP4") no-repeat center center fixed;
    background-color: #272727;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}